{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block sidebar %}
{% include 'users/left_panel.html' %}
{% endblock %}

{% block content %}

{% include 'inc/_messages.html' %}

{% for receipt in receipts %}
<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title">Service: {{ receipt.service }}</h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            The amount of {{ receipt.units }}: {{ receipt.amount_units }}
        </p>
        <p class="card-text">
            Date of accrual: {{ receipt.period_of_receipt }}
        </p>
        <p class="card-text">
            Total sum: {{ receipt.amount_money }} rubles
        </p>
    </div>
    <div class="card-footer text-muted">
        time passed: {{ receipt.period_of_receipt|timesince }}
    </div>
</div>
{% endfor %}

{% endblock %}
